#mainwrap {
    width:90%;
    margin:20px auto;
    max-width:860px;
}

#tightwrap {
    width:90%;
    margin:5px auto;
    max-width:800px;
}

#expansionwrap {
    width:90%;
    margin:5px auto;
    max-width:750px;
}

#notation {
    color: rgb(142, 0, 0);
}
#notation:hover {
    text-decoration: underline;
}
#notationlink {
    color: rgb(163, 106, 0);
    text-decoration: none;
}
#notationlink:hover {
    text-decoration: underline;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {
    color: black;
}